body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

body ul,
body li {
    list-style: none;
    padding: 0;
}

.main {
    min-height: 100%;
    height: calc(100vh - 40px - 60px);
    overflow: hidden;
}

.header {
    height: 40px;
    background: #fff;
    overflow: hidden;
    box-shadow: 1px 1px 6px #636363;
}

.header .sitename {
    float: left;
    margin-left: 10px;
    font-weight: bold;
}

.header .userinfo {
    float: right;
    margin-right: 10px;
}

.header .sitename,
.header .userinfo {
    line-height: 40px;
    height: 40px;
}

.container-full {
    width: 100%;
    margin: 0 auto;
}

.footer {
    text-align: center;
    background: #333;
    color: #999;
    line-height: 60px;
    height: 60ph;
}